.search.ng-untouched.ng-pristine.ng-valid.ng-star-inserted {
    visibility:hidden;
}

.event-price.ng-star-inserted {
    display:none;
}

.promo-code-input-wrapper {
    color: red !important;
}

.promo-code-link {
    color: red !important;
}

.floating-label{
    font-size: 10px;
}
/* 
.error-text{
    visibility:hidden !important;
    display:none !important;
} */
